
.CartContainer{
    display: flex;
    flex-wrap: wrap;
}
.CartProduct{
    width: 60%;
    margin: 15px;
}
.CartAmount{
    width: 30%;
}
.cart{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.image{
    width: 30%;
}
.details{
    width: 70%;
}
.buy{
    margin-right: 10px;
}