.CateGory{
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* margin: 15px; */
    font-size: 20px;
    
}
 .link{
    text-decoration: none;
    color: black;
}
li{
    font-size: 20px;
    font-weight: bold;
}
li:hover{
    color:red;
    
}
.active{
    color: red;
}