*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap; 
    margin: 25px 15px 15px 15px;

  }
  

  .products{
    width:200px;
    margin: 5px;
    padding: 5px;
    box-shadow: 0px 0px 10px 3px lightgray;
    background: white;
  }

  .serachContainer input{
    width: 900px;
    margin: 1% 5% 2% 15%;

}